div {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
hr{
    border: .5px solid black;
    margin-left: 150px;
    margin-right: 150px;
}
h2{
    color: #006eb6;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}
h1{
    margin-top: 50px;
    letter-spacing: 5px;
}
h1, h2{
    text-align: center;
    margin-bottom: 10px;
}
main{
    max-width: 600px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    }
img{
    max-width: 150px;
    align-self: center;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
li{
    padding: 15px;

}
p{
    padding: 15px;
}
.dark{
    background-color: black;
    color: white;
    border: solid 1px white;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.dark hr{
    border: .5px solid white;
    margin-left: 150px;
    margin-right: 150px;
}
.dark h2 {
    color: A0D4ED;
    }
    